<div class="aikotoba-sessions-new">
  <div class="message">
    <% if notice %>
      <p><%= notice %></p>
    <% end %>
    <% if alert %>
      <p><%= alert %></p>
    <% end %>
  </div>
  <h1><%= I18n.t(".aikotoba.sessions.new") %></h1>
  <%= form_with model: @account, method: :post, url: aikotoba.new_session_path do |f| %>
    <p>
      <%= f.label :email %>
      <%= f.email_field :email, required: true %>
    </p>
    <p>
      <%= f.label :password %>
      <%= f.password_field :password, required: true  %>
    </p>
    <%= f.submit I18n.t(".aikotoba.sessions.new") %>
  <% end %>
  <% if registerable? %>
    <p>
      <%= link_to I18n.t(".aikotoba.accounts.new"), aikotoba.new_account_path %>
    </p>
  <% end %>
  <% if confirmable? %>
    <p>
      <%= link_to I18n.t(".aikotoba.confirms.new"), aikotoba.new_confirmation_token_path %>
    </p>
  <% end %>
  <% if lockable? %>
    <p>
      <%= link_to I18n.t(".aikotoba.unlocks.new"), aikotoba.new_unlock_token_path %>
    </p>
  <% end %>
  <% if recoverable? %>
    <p>
      <%= link_to I18n.t(".aikotoba.recoveries.new"), aikotoba.new_recovery_token_path %>
    </p>
  <% end %>
</div>
