<div class="aikotoba-accounts-new">
  <div class="message">
    <% if notice %>
      <p><%= notice %></p>
    <% end %>
    <% if alert %>
      <p><%= alert %></p>
    <% end %>
  </div>
  <h1><%= I18n.t(".aikotoba.sessions.new") %></h1>
  <%= form_with scope: :account, method: :post, url: sign_in_path do |f| %>
    <%= f.label :password, I18n.t(".aikotoba.attributes.password") %>
    <%= f.password_field :password, required: true %>
    <%= f.submit I18n.t(".aikotoba.sessions.new") %>
  <% end %>
  <p>
    <%= link_to I18n.t(".aikotoba.accounts.new"), sign_up_path %>
  </p>
</div>
