<div class="aikotoba-sessions-new">
  <%= render "aikotoba/common/message" %>
  <h1><%= I18n.t(".aikotoba.sessions.new") %></h1>
  <%= form_with model: @account, method: :post, url: aikotoba.new_session_path do |f| %>
    <p>
      <%= f.label :email %>
      <%= f.email_field :email, required: true %>
    </p>
    <p>
      <%= f.label :password %>
      <%= f.password_field :password, required: true  %>
    </p>
    <%= f.submit I18n.t(".aikotoba.sessions.new") %>
  <% end %>
  <%= render 'links' %>
</div>
