<div class="aikotoba-unlock-new">
  <div class="message">
    <% if notice %>
      <p><%= notice %></p>
    <% end %>
    <% if alert %>
      <p><%= alert %></p>
    <% end %>
  </div>
  <h1><%= I18n.t(".aikotoba.unlocks.new") %></h1>
  <%= form_with model: @account, method: :post, url: aikotoba_scoped_path(:create_unlock_token_path) do |f| %>
    <p>
      <%= f.label :email %>
      <%= f.email_field :email, required: true, autocomplete: :email %>
    </p>
    <%= f.submit I18n.t(".aikotoba.unlocks.new") %>
  <% end %>
  <p>
    <%= link_to I18n.t(".aikotoba.sessions.new"), aikotoba_scoped_path(:new_session_path) %>
  </p>
</div>
