<div class="aikotoba-accounts-new">
  <div class="message">
    <% if notice %>
      <p><%= notice %></p>
    <% end %>
    <% if alert %>
      <p><%= alert %></p>
    <% end %>
  </div>
  <h1><%= I18n.t(".aikotoba.accounts.new") %></h1>
  <%= form_with model: @account, method: :post, url: sign_up_path do |f| %>
    <p>
      <%= f.label :email %>
      <%= f.email_field :email, reuired: true %>
    </p>
    <p>
      <%= f.label :password %>
      <%= f.password_field :password, reuired: true  %>
    </p>
    <%= f.hidden_field :strategy %>
    <%= f.submit I18n.t(".aikotoba.accounts.new") %>
  <% end %>
  <p>
    <%= link_to I18n.t(".aikotoba.sessions.new"), sign_in_path %>
  </p>
  <% if enable_confirm? %>
    <p>
      <%= link_to I18n.t(".aikotoba.confirms.new"), confirmable_new_path %>
    </p>
  <% end %>
  <% if enable_lock? %>
    <p>
      <%= link_to I18n.t(".aikotoba.unlocks.new"), lockable_new_path %>
    </p>
  <% end %>
</div>
