<h1>Admin Sensitive Page</h1>
<p class="message"><%= notice %></p>
<p>id: <%= @account.id %></p>
<p>password_digest: <%= @account.password_digest %></p>
<%# NOTE: Set to true if you want to test the behavior of creating related models with accounts#create. %>
<% if false %>
<p>nickname: <%= @account.admin.nickname %></p>
<% end %>

<%= form_with method: :delete, url: aikotoba_scoped_path(:destroy_session_path) do |f| %>
  <%= f.submit 'Sign out' %>
<% end %>
