<!DOCTYPE html>
<html>
<head>
  <title>Aikotoba</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
</head>
<body>
  <% if notice %>
    <p><%= notice %></p>
  <% end %>
  <% if alert %>
    <p><%= alert %></p>
  <% end %>
  <%= yield %>
</body>
</html>
