<h1>Sensitive Page</h1>
<p class="message"><%= notice %></p>
<p>id: <%= @user.id %></p>
<p>password_digest: <%= @user.password_digest %></p>

<%= form_with method: :delete, url: aikotoba.destroy_session_path do |f| %>
  <%= f.submit 'Sign out' %>
<% end %>
